//$varibles color and sizes
$sabon:'Sabon LT Std', sans-serif;
$brandon:'Brandon Grotesque', sans-serif;
$brandon-light:'Brandon Grotesque Light', sans-serif;
$brandon-bold:'Brandon Grotesque Bold', sans-serif;

$dark-color: #231f20;
$border-color: #c0bfbf;
$transparent-bg: rgba(255, 255, 255, .7);

$base-font: $brandon;
$header-font: $sabon;
